{% extends 'base.html' %}
{% load static %}

{% block title %}
المراكز التعليمية
{% endblock title%}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<link rel="stylesheet" href="{% static 'core/css/centers/centers.css' %}">
{% endblock styles%}

{% block content %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="">
</script>

<div class="centers-page">
    <!-- Filters Section -->
         <h2 class="page-title">المراكز</h2>

    <section class="filters-section">
        <form method="get" class="filters-form">

            <input type="text" name="q" placeholder="🔍 بحث باسم المركز" value="{{request.GET.q}}" class="input">

            <select name="state" class="input">
                <option value="">الولاية - الكل</option>
                {% for state in states %}
                <option value="{{state.id}}" 
                {%if request.GET.state == state.id|stringformat:'s' %}selected{% endif %}>
                {{state.title}}
                </option>
                {% endfor %}
            </select>

            <select name="subject" class="input">
                <option value="">المجال - الكل</option>
                {% for subject in subjects %}
                <option value="{{subject.id}}"
                {%if request.GET.subject == subject.id|stringformat:'s' %}selected{% endif %}>
                {{subject.title}} ({{ subject.center_count }} مركز)
                </option>
                {% endfor %}
            </select>

            <button type="submit" class="btn-primary">بحث</button>
        </form>

        <form action="{% url 'clear_center' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn-secondary full-width">
                تصفية البحث
            </button>
        </form>
    </section>

    <section class="map-section">
        <div id="map"></div>
    </section>

    
    <section class="centers-list">
        {% for center in paged_centers %}
        <div class="center-card">


                <a href="{% url 'center' center.slug %}">
                    {% if center.logo_url %}
                        <img src="{{ center.logo_url }}" alt="">
                    {% elif center.logo %}
                        <img src="{{ center.logo.url }}" alt="">
                    {% endif %}

                    <h3 class="center-title">{{ center.title }}</h3>
                </a>


            
            <div class="subjects">
                {% for subject in center.subjects.all %}
                <span class="subject-tag">{{subject.title}}</span>
                {% endfor %}
            </div>

            <p class="address">
                {{center.address}}
            </p>

        </div>

        {% empty %}
            <p class="empty-message">لا توجد مراكز مطابقة للبحث.</p>
        {% endfor %}

        {% if paged_centers.has_other_pages %}
        <div class="pagination">

            {% if paged_centers.has_previous %}

            <span class="steps">
                <a href="?page=1">الأولى</a>
                <a href="?page={{ paged_centers.previous_page_number }}">السابقة</a>                
            </span>

            {% endif %}

            <span class="current">
                صفحة {{paged_centers.number}} من {{paged_centers.paginator.num_pages}}
            </span>

            {% if paged_centers.has_next %}

            <span class="steps">
                <a href="?page={{paged_centers.next_page_number}}">التالي</a>
                <a href="?page={{paged_centers.paginator.num_pages }}">الأخيرة</a>
            </span>
            {% endif %}

        </div>
        {% endif %}
        
    </section>
    

    <script>
        var map = L.map('map').setView([19.6, 37.22], 13);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var bounds = [];

        {% for center in centers %}
            {% if center.latitude and center.longitude %}
                var lat = {{ center.latitude }};
                var lng = {{ center.longitude }};

                bounds.push([lat, lng]);

                L.marker([lat, lng]).addTo(map)
                .bindPopup("<b><a href='{% url 'center' center.slug %}' target='_blank'>{{center.title}}</a></b>");
            {% endif %}
        {% endfor %}

        if (bounds.length > 0) {
            map.fitBounds(bounds);
        }

        if (bounds.length === 1) {
            map.setView(bounds[0], 13);
        } else if (bounds.length > 1) {
            map.fitBounds(bounds);
        }

        map.fitBounds(bounds, {
            padding: [50, 50]
        });

        var marker;

        function onMapClick(e){
            const lat= e.latlng.lat;
            const long= e.latlng.lng;

        }

        map.on('click', onMapClick);

    </script>



    <section class="add-center">
        <a href="{% url 'add_center' %}" class="add-center-link">
            لديك موقع تريد إضافته؟ اضغط هنا
        </a>
    </section>

</div>
{% endblock content %}

