{% extends 'base.html' %}
{% load static %}

{% block title %}
{{center.title}}
{% endblock title%}

{% block styles %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<link rel="stylesheet" href="{% static 'core/css/centers/center.css' %}">
{% endblock styles%}

{% block content %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="">
</script>
<div class="center-page">

  <section class="center-header">
    
        {% if center.logo_url %}
        <div class="center-logo">
            <img src="{{ center.logo_url}}" alt="center logo">
        </div>
        {% elif center.logo %}
        <div class="center-logo">
            <img src="{{ center.logo.url }}" alt="center logo">
        </div>
        {% endif %}

        <div class="center-info">

            {% if center.is_individual %}
                <h2>المدرب: {{ center.title }}</h2>
            {% else %}
                <h2>{{ center.title }}</h2>
            {% endif %}

            <div class="dashboard-actions">
                <a href="{% url 'edit_center' center_slug=center.slug %}" class="btn-secondary">
                    تعديل المركز
                </a>
            </div>
        </div>
    </section>

    {% if center.latitude and center.longitude %}
    <section class="center-map">
        <div id="map"></div>
    </section>
    {% endif %}

    <section class="center-details">

    <!-- Description -->
    {% if center.discription %}
    <div class="center-description">
        <h3>الوصف</h3>
        <p>{{ center.discription }}</p>
    </div>
    {% endif %}

    <!-- Subjects -->
    {% if center.subjects.all %}
    <div class="center-subjects">
        <h3>مجالات التدريب</h3>
        <div class="subject-tags">
            {% for subject in center.subjects.all %}
                <span class="subject-tag">{{ subject.title }}</span>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Location Info -->
     {% if center.address and center.state %}
    <div class="center-location">
        <h3>العنوان</h3>
        <p>{{ center.address }}, {{ center.state.title }}</p>
    </div>
    {% endif %}

    <!-- Contact Info (Optional) -->
    {% if center.contact_email or center.contact_phone or center.website %}
    <div class="center-contact">
        <h3>معلومات التواصل</h3>
        <ul>
            {% if center.contact_phone %}
                <li>📞 {{ center.contact_phone }}</li>
            {% endif %}
            {% if center.contact_email %}
                <li>✉️ {{ center.contact_email }}</li>
            {% endif %}
            {% if center.website %}
                <li>🌐 <a href="{{ center.website }}" target="_blank">{{ center.website }}</a></li>
            {% endif %}
        </ul>
    </div>
    {% endif %}

</section>


   <section class="courses-section">

        <div class="section-header">
            <h3>الدورات التدريبية</h3>
            <a href="{% url 'add_course' center.slug %}" class="btn-primary">
                إضافة دورة
            </a>
        </div>

        <div class="course-list">
            {% for course in courses %}
            <div class="course-card">

                <a href="{% url 'course' course.slug %}" class="course-link">

                    {% if course.image_url %}
                        <img src="{{ course.image_url }}" alt="{{ course.title }}">
                    
                    {% elif course.image %}
                        <img src="{{ course.image.url }}" alt="{{ course.title }}">
                    {% endif %}

                    <h3 class="course-title">{{ course.title }}</h3>

                    {% if course.course_instructor %}
                    <h3 class="course-title">{{ course.course_instructor }}</h3>
                    {% endif %}

                </a>
                                    
                <div class="course-type">
                    {% if course.course_type == 'in_person'%}
                        حضوري:  {{ course.address }}
                    {% elif course.course_type == 'online' %}
                        اونلاين:  {{course.online_platform}}
                    {% else %}
                        حضوري و اونلاين
                    {% endif %}
                </div>

            <p class="course-description">
                {{ course.short_discription }}
            </p>

            <div class="subjects">
                {% for subject in course.subjects.all %}
                <span class="subject-tag">{{subject.title}}</span>
                {% endfor %}
            </div>

            <div class="course-price">
                {{ course.price }} {{course.get_currency_display}}
            </div>



                <!-- Dashboard Controls -->
                <div class="course-actions">
                    <a href="{% url 'edit_course' course.slug %}">تعديل</a>
                    <a href="{% url 'delete_course' course.slug %}" class="danger">حذف</a>
                </div>

            </div>
            {% empty %}
            <p class="empty-message">لا توجد دورات حالياً.</p>
            {% endfor %}
        </div>

    </section>


</div>

<script>
    var map = L.map('map').setView([19.6, 37.22], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
    L.marker([{{center.latitude}}, {{center.longitude}}]).addTo(map)
    .bindPopup("<b>{{center.title}}</b>");

</script>

{% endblock content %}