<footer class="site-footer">
    <div class="footer-inner">
        <ul class="footer-list">
            <li class="footer-title">كورساتي</li>

            {% if request.user.is_authenticated %}
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="log-button">تسجيل الخروج</button>
                    </form>
                </li>
            {% else %}
                <li>
                    <a class="log-button" href="{% url 'login' %}">تسجيل الدخول</a>
                </li>
            {% endif %}
        </ul>
    </div>
</footer>
