<header class="site-header">
    <div class="header-inner">

        <h1 class="title">
            <a href="{% url 'index' %}">دوراتي</a>
        </h1>

        <nav>
            <ul class="nav-list">
                <li><a href="{% url 'index' %}">الرئيسية</a></li>
                <li><a href="{% url 'courses' %}">الدورات</a></li>
                <li><a href="{% url 'centers' %}">المراكز</a></li>


                {% if user.is_authenticated %}
                    {% if user.working_centers.exists %}
                    <li><a href="{% url 'center_dashboard' user.working_centers.slug %}">مركزي</a></li>
                    {% elif user.owned_centers.exists %}
                    <li><a href="{% url 'center_dashboard' user.owned_centers.slug %}">مركزي</a></li>
                    {% endif %}
                    <li class="user-button">{{ user.username }}</li>
                {% else %}
                    <li>
                        <a class="login-button" href="{% url 'login' %}">تسجيل الدخول</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>
</header>
