<header class="site-header">
    <div class="header-inner">

        <div class="logo">
            <h1>كورساتي</h1>
        </div>

        <nav>
            <ul class="nav-list">
                <li><a href="{% url 'index' %}">الرئيسية</a></li>
                <li><a href="{% url 'courses' %}">الدورات</a></li>
                <li><a href="{% url 'centers' %}">المراكز</a></li>


                {% if user.is_authenticated %}

                    {% if perms.core.can_access_dashboard %}
                        <li><a href="{% url 'centers_dashboard' %}">لوحة التحكم</a></li>
                        
                    {% endif %}
                        <li class="user-button">{{ user.username }}</li>

                {% else %}

                    <li>
                        <a class="login-button" href="{% url 'login' %}">تسجيل الدخول</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>
</header>
