<header class="site-header">
    <div class="header-inner">

        <h1 class="title">
            <a href="/">دوراتي</a>
        </h1>

        <nav>
            <ul class="nav-list">
                <li><a href="{% url 'index' %}">الرئيسية</a></li>
                <li><a href="{% url 'courses' %}">الدورات</a></li>
                <li><a href="{% url 'centers' %}">المراكز</a></li>


                {% if request.user.is_authenticated %}
                    <li class="user-button">{{ request.user.username }}</li>
                {% else %}
                    <li>
                        <a class="login-button" href="">تسجيل الدخول</a>
                    </li>
                {% endif %}
            </ul>
        </nav>

    </div>
</header>
