{% load static %}
<div class="course-card">

            <a href="{% url 'course' course.slug %}" class="course-link">

                {% if course.image_url %}
                    <img src="{{ course.image_url }}" alt="{{ course.title }}">
                {% elif course.image %}
                    <img src="{{ course.image.url }}" alt="{{ course.title }}">
                {% else  %}
                    <img src="{% static 'core/imgs/course_placeholder.jpeg' %}" alt="">
                {% endif %}

                <h3 class="course-title">{{ course.title }}</h3>

            </a>

            <p class="course-provider">
                مقدم من:
                <strong>{{ course.center.title }}</strong>
            </p>
            
            {% if course.course_instructor %}
            <p class="course-provider">
                اسم المدرب:
                <strong>{{ course.course_instructor }}</strong>
            </p>
            {% endif %}

            <p class="course-type">
                نوع الدورة:
                {{ course.get_course_type_display }}

                {% if course.address %}
                    <li>
                        <strong>المكان:</strong>
                        {{ course.address }}
                    </li>
                {% endif %}

                {% if course.online_platform %}
                    <li>
                        <strong>المنصة:</strong>
                        {{ course.online_platform }}
                </li>
                {% endif %}

            </p>

            <p class="course-description">
                {{ course.short_discription }}
            </p>

            <div class="subjects">
                {% for subject in course.subjects.all %}
                <span class="subject-tag">{{subject.title}}</span>
                {% endfor %}
            </div>

            {% if course.price  or course.price == 0%}
            
                <div class="course-footer">

                    <span class="course-price">
                        {% if course.price == 0 %}
                        <span class="free">مجانا</span class="free">
                        {% else %}
                        {{ course.price }} {{ course.get_currency_display }}
                        {% endif %}
                    </span>

                    {% if course.installment_available %}
                        <span class="installment-badge">
                            يمكن التقسيط
                        </span>
                    {% endif %}

                </div>

            {% endif %}

        </div>
