{% extends 'base.html' %}
{% load static %}

{% block title %}
الدورات
{% endblock title%}

{% block styles %}
{% endblock styles%}

{% block content %}
<h2>الدورات</h2>

<h3>البحث</h3>

<form method="get" class="course-filter">


    <input type="text" name="q" placeholder="بحث بالاسم" value="{{request.GET.q}}">


    <label for="subject">المجال</label>

    <select name="subject" id="subject">

        <option value="">الكل</option>

        {% for subject in subjects %}
        <option value="{{subject.id}}"
        {%if request.GET.subject == subject.id|stringformat:'s' %}selected{% endif %}>{{subject.title}}</option>
        {% endfor %}

    </select>

    <label for="type">نوع الدورة</label>
    <select name="type" id="type">

        <option value="">الكل</option>

        {% for value, option in type%}

        <option value="{{value}}"
        {% if request.GET.type == value %} selected {% endif %}> {{option}} </option>

        {% endfor %}

    </select>

    <label for="price">price</label>
    <input type="number" name="price" id="price" placeholder="max price" value="{{request.GET.price}}">

    <button type="submit">بحث</button>

</form>


<form action="{% url 'clear_course' %}" method="post">
    {% csrf_token %}
    <button type="submit">تصفية البحث</button>
</form>

<br>

{% for course in courses %}

<div class="course-card">
        {% if course.image %}
        <img src="" alt="">
        {% endif %}
        <dl>
            <a href="{% url 'course' course.slug%}">
                <h4>{{ course.title }}</h4>    
            </a>

            <h4>مقدم من: {{ course.center.title }}</h4>

            <dt>نوع الدورة: </dt>
            <dd> {{course.get_course_type_display}} </dd>



            <p>{{ course.short_discription }}</p>

            <dt class="price">السعر: </dt>
            <dd>{{ course.price }} {{course.get_currency_display}}</dd>

            {% if course.installment_available %}
                <p class="insstallment">يمكن التقسيط</p>
            {% endif %}
        </dl>


    <br>
</div>
{% endfor %}    

{% endblock content %}