{% extends 'base.html' %}
{% load static %}

{% block title %}
الدورات
{% endblock title%}

{% block styles %}
{% endblock styles%}

{% block content %}
<h2>الدورات</h2>

<form method="post" class="course-filter">
    {% csrf_token %}

    <button type="submit">بحث</button>
    <form action="{% url 'clear_course' %}" method="post">
        <button type="submit">الكل</button>
    </form>
</form>

{% for course in courses %}

<div class="course-card">
    <a href="{% url 'course' course.slug%}">
        {% if course.image %}
        <img src="" alt="">
        {% endif %}
        <h3>{{ course.title }}</h3>
        {% if coures.course_type == 'in_person'%}
        <h4>حضوري</h4>
        <h5>{{ course.addres }}</h5>
        {% elif course.course_type == 'online' %}
        <h4>اونلاين</h4>
        <h5> {{course.platform}} </h5>
        {% else %}
        <h4>حضوري و اونلاين</h4>
        <h5>{{ course.address }}</h5>
        <h5> {{course.online_platform}} </h5>
        {% endif %}

        <p>{{ course.short_discription }}</p>
        <p>{{ course.price }}</p>
    </a>
</div>
{% endfor %}    

{% endblock content %}