{% extends 'base.html' %}
{% load static %}

{% block title %}
index
{% endblock title%}

{% block styles %}
{% endblock styles%}

{% block content %}
<h1>دوراتي</h1>
<main>
<div class="feature-card">
    <a href="{% url 'centers' %}">
        <img src="" alt="centers logo">
        <dl>
            <dt>المراكز</dt>
            <dd>تعرف على المراكز من حولك</dd>
        </dl>
    </a>
</div>
<p></p>
<div class="feature-card">
    <a href="{% url 'courses' %}">
        <img src="" alt="courses logo">
        <dl>
            <dt>الدورات</dt>
            <dd>تعرف على الدورات من حولك</dd>
        </dl>
    </a>
</div>
</main>

{% endblock content %}