{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'core/css/base.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'core/css/modern-layout.css' %}"> -->
    {% block styles %}
    {% endblock styles %}
</head>
<body>
    {% include 'parts/header.html' %}
    <div class="main-container">
        {% block content %}
        {% endblock content %}
    </div>
    {% include 'parts/footer.html' %}
</body>
</html>